.idea
*.iml
out
gen
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/reports
/tmp_repos
/src/main/resources/projects.json
.gradle
/.gradle
/.gradle/**
projects.json
/lib
